<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gag.RuiwuYuexin.mapper.EvaluateImageMapper">
    <insert id="insertImage" parameterType="com.gag.RuiwuYuexin.entity.EvaluateImage">
        INSERT INTO evaluate_images
            (evaluate_id, image_data, sort_order, create_time)
        VALUES
            (#{evaluateId}, #{imageData}, #{sortOrder}, #{createTime})
    </insert>
</mapper>
